.slide_fade {
	overflow: hidden;
	position: relative;
	margin: 0px auto;
	width: 750px;
	height: 419px;
	background: #bbb;
}

.slide_fade .box {
	overflow: hidden;
	position: relative;
	width: 750px;
	height: 419px;
	background: #000;
	z-index: 4;
}

.slide_fade .box a {
	color: #fff;
}

.slide_fade .box a:hover {
	text-decoration: none;
}

.slide_fade .list {
	overflow: hidden;
	height: 9999px;
}

.slide_fade .list li {
	position: relative;
	width: 960px;
	height: 270px;
}

.slide_fade .list img {
	_vertical-align: top;
	width: 750px;
	height: 419px;
}

.slide_fade .txt {
	cursor: pointer;
	position: absolute;
	top: 20px;
	left: 45px;
	font: 14px/24px "\5fae\8f6f\96c5\9ed1";
}

.slide_fade .txt h3 {
	font: 40px/80px "\5fae\8f6f\96c5\9ed1";
}

.slide_fade .btn {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 750px;
	height: 106px;
	z-index: 5;
	padding: 6px 0;
}

.slide_thumb_img {
	
}

.slide_fade .btn a {
	color: #555;
	text-decoration: none;
}

.slide_fade .btn li {
	overflow: hidden;
	float: left;
	width: 185px;
	height: 100px;
	padding-top: 7px;
	color: #333;
	margin-right: 1px;
	border: 1px solid #fff;
}

.slide_fade .btn li img {
	width: 50px;
	height: 50px;
	margin-top: 20px;
	/* border: 1px solid; */
}

.slide_fade .btn li:first-child {
	margin-left: 3px;
}

.slide_fade .btn .selected {
	/* position: relative;
	top: -3px;
	border-top: 3px solid #f32465; */
	
}

.slide_fade .btn .video_text {
	position:absolute;
}

.slide_fade .btn p {
	color: #999;
	font: 12px/20px "\5b8b\4f53";
	text-indent: 2px;
}

.slide_fade .btn p a {
	color: #999;
}

.slide_fade .btn p a:hover {
	text-decoration: underline;
}